In [1]:
import pandas as pd
bikes = pd.read_csv('../data/bikes.csv')
bikes.head(3)

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
0,7147,Subscriber,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,41.881050,-87.616970,11.0,Michigan Ave & Oak St,41.90096,-87.623777,15.0,73.9,10.0,12.7,-9999.0,mostlycloudy
1,7524,Subscriber,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,41.883380,-87.641170,31.0,Wells St & Walton St,41.89993,-87.634430,19.0,69.1,10.0,6.9,-9999.0,partlycloudy
2,10927,Subscriber,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,41.909592,-87.653497,15.0,Dearborn St & Monroe St,41.88132,-87.629521,23.0,73.0,10.0,16.1,-9999.0,mostlycloudy

In [2]:
bikes.dtypes

trip_id                int64
usertype              object
gender                object
starttime             object
stoptime              object
tripduration           int64
from_station_name     object
latitude_start       float64
longitude_start      float64
dpcapacity_start     float64
to_station_name       object
latitude_end         float64
longitude_end        float64
dpcapacity_end       float64
temperature          float64
visibility           float64
wind_speed           float64
precipitation        float64
events                object
dtype: object

In [3]:
# parses date-time columns
bikes = pd.read_csv('../data/bikes.csv', parse_dates=['starttime', 'stoptime'])
bikes.dtypes.head()

trip_id               int64
usertype             object
gender               object
starttime    datetime64[ns]
stoptime     datetime64[ns]
dtype: object

In [8]:
bikes.shape

(50089, 19)

In [11]:
bikes.size

951691

In [12]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50089 entries, 0 to 50088
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   trip_id            50089 non-null  int64
 1   usertype           50089 non-null  object
 2   gender             50089 non-null  object
 3   starttime          50089 non-null  datetime64[ns]
 4   stoptime           50089 non-null  datetime64[ns]
 5   tripduration       50089 non-null  int64
 6   from_station_name  50089 non-null  object
 7   latitude_start     50083 non-null  float64
 8   longitude_start    50083 non-null  float64
 9   dpcapacity_start   50083 non-null  float64
 10  to_station_name    50089 non-null  object
 11  latitude_end       50077 non-null  float64
 12  longitude_end      50077 non-null  float64
 13  dpcapacity_end     50077 non-null  float64
 14  temperature        50089 non-null  float64
 15  visibility         50089 non-null  float64
 16  wind_speed         50089 non-null  float64
 17  precipitation      50089 non-null  float64
 18  events             50089 non-null  object
dtypes: datetime64[ns](2), float64(10), int64(2), object(5)
memory usage: 7.3+ MB

## Exercises
Use the `bikes` DataFrame for the following:

### Exercise 1
<span  style="color:green; font-size:16px">What type of object is returned from the `dtypes` attribute?</span>

In [4]:
type(bikes.dtypes)

pandas.core.series.Series

### Exercise 2
<span  style="color:green; font-size:16px">What type of object is returned from the `shape` attribute?</span>

In [5]:
type(bikes.shape)

tuple

### Exercise 3
<span style="color:green; font-size:16px">What type of object is returned from the `info` method?</span>

In [7]:
type(bikes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50089 entries, 0 to 50088
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   trip_id            50089 non-null  int64
 1   usertype           50089 non-null  object
 2   gender             50089 non-null  object
 3   starttime          50089 non-null  datetime64[ns]
 4   stoptime           50089 non-null  datetime64[ns]
 5   tripduration       50089 non-null  int64
 6   from_station_name  50089 non-null  object
 7   latitude_start     50083 non-null  float64
 8   longitude_start    50083 non-null  float64
 9   dpcapacity_start   50083 non-null  float64
 10  to_station_name    50089 non-null  object
 11  latitude_end       50077 non-null  float64
 12  longitude_end      50077 non-null  float64
 13  dpcapacity_end     50077 non-null  float64
 14  temperature        50089 non-null  float64
 15  visibility         50089 non-null  float64
 16  wind_speed         50089 non-null  float64
 17  precipitation      50089 non-null  float64
 18  events             50089 non-null  object
dtypes: datetime64[ns](2), float64(10), int64(2), object(5)
memory usage: 7.3+ MB

NoneType

### Exercise 4
<span  style="color:green; font-size:16px">The memory usage from the `info` method isn't correct when you have objects in your DataFrame. Read the docstrings from it and get the true memory usage.</span>

In [13]:
bikes.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50089 entries, 0 to 50088
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   trip_id            50089 non-null  int64
 1   usertype           50089 non-null  object
 2   gender             50089 non-null  object
 3   starttime          50089 non-null  datetime64[ns]
 4   stoptime           50089 non-null  datetime64[ns]
 5   tripduration       50089 non-null  int64
 6   from_station_name  50089 non-null  object
 7   latitude_start     50083 non-null  float64
 8   longitude_start    50083 non-null  float64
 9   dpcapacity_start   50083 non-null  float64
 10  to_station_name    50089 non-null  object
 11  latitude_end       50077 non-null  float64
 12  longitude_end      50077 non-null  float64
 13  dpcapacity_end     50077 non-null  float64
 14  temperature        50089 non-null  float64
 15  visibility         50089 non-null  float64
 16  wind_speed         50089 non-null  float64
 17  precipitation      50089 non-null  float64
 18  events             50089 non-null  object
dtypes: datetime64[ns](2), float64(10), int64(2), object(5)
memory usage: 22.4 MB